=render :partial => 'header'

.home-search-box
  #messages
    -if flash[:notice]
      .alert.alert-success
        = flash[:notice]

  = render :partial => 'search_fields'
  .search_fields_info
    #speciality_search_field_info 
      Insira a especialidade do professor.
      %br
      Ex.: 'Inglês', 'Guitarra', 'Português'
    #city_search_field_info 
      Insira o nome da sua cidade com a siglakdo estado. 
      %br
      Ex.: 'Rio de Janeiro, RJ', 'Viçosa, MG'


