.home-header
  - if session[:teacher]
    = "Olá #{session[:teacher]}"

.home-search-box
  #messages
    -if flash[:notice]
      .alert.alert-success
        = flash[:notice]

  = render :partial => 'search_fields'


