
=form_tag "/teachers/search_results" do

  #select_state_field
    = label_tag :state
    %br
    = text_field :teacher, :state

  #select_city_field
    = label_tag :city
    %br
    = text_field :teacher, :city

