:coffeescript
  $ ->
    $(".header").remove()

.min_search_bar
  = link_to image_tag("queroumprofessor_branco.png"), root_path
  = render :partial => "search_fields"

%div{:style => "height: 60px"}


- if @teachers.nil? || @teachers.empty?
  .center
    %br
    .alert.alert-box
      Ainda não há nenhum professor de #{params[:speciality][:name]} cadastrado na sua cidade...

- else
  // %h3 Encontre seu professor:
  .search_results

    - @teachers.each do |teacher|
      =render :partial => "teacher_info", :locals => {:teacher => teacher}

    .clear
      %br

    .pagination
      = paginate @teachers

