.min_search_bar
  = link_to image_tag("queroumprofessor_branco.png"), root_path
  = render :partial => "search_fields"

%p

- if @teachers.nil? || @teachers.empty?
  .center
    %br
    .alert.alert-box
      Infelizmente nenhum professor foi encontrado em sua cidade... 

- else
  %h3 Encontre seu professor:

  /
    %hr

  - @teachers.each_slice(3).to_a.each do |teacher_chunk|
    
    .row
      -teacher_chunk.each do |teacher|
        .span4
          =render :partial => "teacher_info", :locals => {:teacher => teacher}

