.min_search_bar
  = render :partial => "search_fields"

%p

- if @teachers.nil?
  %p Infelizmente nenhum professor foi encontrado em sua cidade... 

- else
  %p Encontre seu professor:

  %hr
  - @teachers.each do |teacher|
    
    .span2
      =render :partial => "teacher_info", :locals => {:teacher => teacher}

